<!DOCTYPE html>
<html>
<head>
  <title>Splik | El Sistema de Administración y contabilidad todo en uno Hecho en FileMaker.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "layouts/nav" %>

<%= yield %>

<%= render :partial => "layouts/footer" %>

</body>
</html>
